.telefilm-info img{
  height: 200px;
  width: 200px;
}

#did_watch_droppable {
  background-color: #FFA500;
  height: 100%;
  width: 5%;
  position: absolute;
  top: 80px;
}

#watching_droppable {
  width: 90%;
  height: 60px;
  position: relative;
  top: 80px;
  left: 5%;
  right: 5%;
  background-color: #7FFFD4;
}

#wish_to_watch {
  background-color: #FFFF99;
  height: 100%;
  width: 5%;
  position: absolute;
  top: 80px;
  right: 0px;
}

.tv_serie_watched {
  background-color: #FFA500;
}

.tv_serie_watching {
  background-color: #7FFFD4;
}

.tv_serie_wish {
  background-color: #FFFF99;
}

.parallax-cover {
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
